/* src/components/Footer.css */
.footer {
    padding: 20px;
    text-align: center;
    /*width: 100%;*/

    background: rgba(70, 70, 70, 0.2); /* полупрозрачный фон */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* для Safari */
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}